# PostgreSQL (docker-compose)
POSTGRES_USER=pegs
POSTGRES_PASSWORD=pegs
POSTGRES_DB=pegs_ops
POSTGRES_PORT=5432

# Prisma / API
DATABASE_URL="postgresql://pegs:pegs@localhost:5432/pegs_ops?schema=public"

# API
API_PORT=3333
API_HOST=0.0.0.0
NODE_ENV=development

# Web
NEXT_PUBLIC_API_URL=http://localhost:3333
